# Compiled Object files
*.o

# Fortran module files
*.mod

# Executables
*.exe

# Dat files
*.dat

# Build folders
build*/**/*
install*/**/*

# Documentation folder (created when using ford tool)
doc/**/*

# Code coverage
coverage_html
coverage.info
*.gcda
*.gcno